/section#pricing.section
/  h4.text-uppercase.text-center Pricing
/  .container
/    .row
/      ul.text-center.period-btn
/        li#month-btn.active-cat
/          a Monthly
/        li#year-btn
/          a Yearly
/      /! Monthly Pricing
/      #month.col.col-md-12.col-sm-12.col-xs-12.period-type
/        .row
/          /! Basic
/          .col.col-md-3.col-sm-6.col-xs-12
/            .card.pricing-table data-aos="fade-up" data-aos-delay="300"
/              /! Table Name
/              h3.text-center Basic
/              h4.text-center
/                span.dollar $
/                /! Enter Your Amount Here
/                span.amount 25
/                span.period /mo
/              /! Features
/              ul.feature-list.text-center
/                li 500 Items
/                li 25 Free Demo /week
/                li Unlimited Storage
/                li 24/7 Support
/              /! ./Features
/              .row
/                .col.col-xs-12.col-sm-12.col-md-12.text-center
/                  a.btn.waves-effect.waves-light.custom-btn href="#0"  Buy Now
/          /! ./Basic
/          /! Silver
/          .col.col-md-3.col-sm-6.col-xs-12
/            .card.pricing-table data-aos="fade-up" data-aos-delay="450"
/              /! Table Name
/              h3.text-center Silver
/              h4.text-center
/                span.dollar $
/                /! Enter Your Amount Here
/                span.amount 50
/                span.period /mo
/              /! Features
/              ul.feature-list.text-center
/                li 500 Items
/                li 25 Free Demo /week
/                li Unlimited Storage
/                li 24/7 Support
/              /! ./Features
/              .row
/                .col.col-xs-12.col-sm-12.col-md-12.text-center
/                  a.btn.waves-effect.waves-light.custom-btn href="#0"  Buy Now
/          /! ./Silver
/          /! Gold
/          .col.col-md-3.col-sm-6.col-xs-12
/            .card.pricing-table data-aos="fade-up" data-aos-delay="600"
/              /! Table Name
/              h3.text-center Gold
/              h4.text-center
/                span.dollar $
/                /! Enter Your Amount Here
/                span.amount 75
/                span.period /mo
/              /! Features
/              ul.feature-list.text-center
/                li 500 Items
/                li 25 Free Demo /week
/                li Unlimited Storage
/                li 24/7 Support
/              /! ./Features
/              .row
/                .col.col-xs-12.col-sm-12.col-md-12.text-center
/                  a.btn.waves-effect.waves-light.custom-btn href="#0"  Buy Now
/          /! ./Gold
/          /! Platinum
/          .col.col-md-3.col-sm-6.col-xs-12
/            .card.pricing-table data-aos="fade-up" data-aos-delay="750"
/              /! Table Name
/              h3.text-center Platinum
/              h4.text-center
/                span.dollar $
/                /! Enter Your Amount Here
/                span.amount 100
/                span.period /mo
/              /! Features
/              ul.feature-list.text-center
/                li 500 Items
/                li 25 Free Demo /week
/                li Unlimited Storage
/                li 24/7 Support
/              /! ./Features
/              .row
/                .col.col-xs-12.col-sm-12.col-md-12.text-center
/                  a.btn.waves-effect.waves-light.custom-btn href="#0"  Buy Now
/      /! ./Platinum
/      /! ./Monthly Pricing
/      /! Yearly Pricing
/      #year.col.col-md-12.col-sm-12.col-xs-12.period-type
/        .row
/          /! Basic
/          .col.col-md-3.col-sm-6.col-xs-12
/            .card.pricing-table
/              /! Table Name
/              h3.text-center Basic
/              h4.text-center
/                span.dollar $
/                /! Enter Your Amount Here
/                span.amount 240
/                span.period /yr
/              /! Features
/              ul.feature-list.text-center
/                li 500 Items
/                li 25 Free Demo /week
/                li Unlimited Storage
/                li 24/7 Support
/              /! ./Features
/              .row
/                .col.col-xs-12.col-sm-12.col-md-12.text-center
/                  a.btn.waves-effect.waves-light.custom-btn href="#0"  Buy Now
/          /! ./Basic
/          /! Silver
/          .col.col-md-3.col-sm-6.col-xs-12
/            .card.pricing-table
/              /! Table Name
/              h3.text-center Silver
/              h4.text-center
/                span.dollar $
/                /! Enter Your Amount Here
/                span.amount 480
/                span.period /yr
/              /! Features
/              ul.feature-list.text-center
/                li 500 Items
/                li 25 Free Demo /week
/                li Unlimited Storage
/                li 24/7 Support
/              /! ./Features
/              .row
/                .col.col-xs-12.col-sm-12.col-md-12.text-center
/                  a.btn.waves-effect.waves-light.custom-btn href="#0"  Buy Now
/          /! ./Silver
/          /! Gold
/          .col.col-md-3.col-sm-6.col-xs-12
/            .card.pricing-table
/              /! Table Name
/              h3.text-center Gold
/              h4.text-center
/                span.dollar $
/                /! Enter Your Amount Here
/                span.amount 720
/                span.period /yr
/              /! Features
/              ul.feature-list.text-center
/                li 500 Items
/                li 25 Free Demo /week
/                li Unlimited Storage
/                li 24/7 Support
/              /! ./Features
/              .row
/                .col.col-xs-12.col-sm-12.col-md-12.text-center
/                  a.btn.waves-effect.waves-light.custom-btn href="#0"  Buy Now
/          /! ./Gold
/          /! Platinum
/          .col.col-md-3.col-sm-6.col-xs-12
/            .card.pricing-table
/              /! Table Name
/              h3.text-center Platinum
/              h4.text-center
/                span.dollar $
/                /! Enter Your Amount Here
/                span.amount 960
/                span.period /yr
/              /! Features
/              ul.feature-list.text-center
/                li 500 Items
/                li 25 Free Demo /week
/                li Unlimited Storage
/                li 24/7 Support
/              /! ./Features
/              .row
/                .col.col-xs-12.col-sm-12.col-md-12.text-center
/                  a.btn.waves-effect.waves-light.custom-btn href="#0"  Buy Now
//! ./Platinum
//! Yearly Pricing
//!