$primary-color: #00bcd4;
@import "bootstrap.scss";
@import "arctic_admin/base";
@import "font-awesome";
@import 'ionicons.min';
@import "dist/css/bootstrap-iconpicker.min.css";
.cke_chrome {
  overflow: hidden;
}
.tabs {
  margin-bottom: 20px !important;
}

.font-35{
  font-size: 25px !important;
  color: $primary-color;
}
label{
  color: #5a5a5a !important;
}

legend{
  border: none !important;
}
.iconpicker{
  width: 50% !important;
}