/! ================== SCRIPTS ==================
script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
/= javascript_include_tag "application"
= javascript_include_tag "aos.min.js"
/script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO3E4rPKVUYhCVRaKgLFbtCca2AF-za04"
/script src="javascript/custom-map.js"
script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"
= javascript_include_tag "retina.min.js"
= javascript_include_tag "jquery.filterizr.min"
script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"
= javascript_include_tag 'custom-script'